<div class="dashboard">
    <div class="metric">
        <div class="description">Total Products</div>
        <div class="number">{{ totalProducts }}</div>
    </div>
    <div class="metric">
        <div class="description">Total Customers Want to Contact</div>
        <div class="number">{{ totalContacts }}</div>
    </div>
    <div class="metric">
        <div class="description">Total Reviews</div>
        <div class="number">{{ totalReviews }}</div>
    </div>
</div>
<button class="button" routerLink="product">View Products</button>

<!-- <div id="pro-wrap">
    <app-product-box *ngFor="let x of servicelist" [products]="x"></app-product-box>
</div> -->
