.divide{
    background-color: rgb(238, 197, 204);
    width: 100%;
    height: 99%;
    display: flex;
}

.img-style img{
    padding-top:30px;
    padding-left:80px;
    margin:10px;
    width:250px;
    height:180px;
}
.img-style1 img{
    padding-top:200px;
    margin:10px;
    width:250px;
    height:200px;
}