.rform{
    background-color:rgb(179, 175, 171) ;
    border-style:solid;
    border-radius:6px;
    width:50%;
    height:190px;
    padding-top:40px;
    padding-left:90px;
    margin-top:5px;
    margin-left:250px;
  
}
.btn-primary{
background-color:rgb(185, 33, 33);
color:rgb(253, 248, 248);
text-align: center;
}
.row{
    padding-top:5px
}
